body{
    background-color: black;
}
img.background{
     position: absolute; 
      left: 0px;
      top: 0px;
      z-index: -1;
      width: 100%;
      height: 100%;
      -webkit-filter: blur(1px); 
      filter: blur(1px);
}
#upperimage{
    border:0px solid blue;
    margin-bottom: 20px;
}
#upperimage>img{
    height:300px;
    width: 100%;
}
#main{
    border:0px solid red;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1;
}
#main>div{
    border-right: 0px dotted grey;
}
#main>div>input{
    margin: auto;
    width: 90%;
    margin-bottom: 8px;
    background-color: white;
    height:30px;
}
::placeholder{
    color: brown;
}
#main button{
    margin-left: 5%;
    padding: 10px;
    border-radius: 10px;
    background-color: #007AFF;
    font-size: medium;
    color: white;
}
h1{
    color:white;
}
.signupdiv>h1{

    color: black;
}
#showthecontent{
    border: 0px solid black;
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2,40%);
    gap: 10px;
    justify-content: center;
    align-items: center;
}
#showthecontent>div{
    border: 0px solid red;
    margin:auto;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
#showthecontent img{
    width:100%;
    border-radius: 20px;
}
#showthecontent p{
    text-align: center;
    color: brown;
    font-size: larger;
}
#showthecontent button{
    width: 40%;
    margin-left: 30%;
    padding: 10px;
    border-radius: 20px;
} 



/* //old css */
.signupdiv{
    position:absolute;
    background-color: white;
    /* z-index: 10; */
    border:1px solid white;
    width:60%;
    height:650px;
    margin: auto;
border-radius: 15px;
 display: block; 
 margin-left: 20%;
 transition: width 2s;
}
.signupdiv>h1{
    text-align: center;
    margin-top: 10%;
}
.allfields{
    border:0px solid red;
    width: 80%;
    height:60%;
    display: grid;
    justify-items: center;
    margin-top: 100px;
    margin-left: 90px;
    /* margin: auto; */
}
.allfields p{
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
}
.allfields>img{
    width:15%;
}
.allfields>div>div>input{
    height:30px;
    width:80%;
     border: none; 
     outline: none;
     font-size: 15px;
     color: #494949;
     font-weight: 500;
     font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.allfields>div>div{
    border: 1px solid #d2d2d7;
    width:80%;
    background-color: white;
}
.allfields>div>div>img{
    width: 15%;
}
#inputforid>div{
display: flex;
}
#createnewid,#forgotidps{
    border: none;
    color: rgb(0,113,227);
    background: white;
    font-size: .875rem;
}
#createnewid:hover,#forgotidps:hover{
    text-decoration: underline;
    cursor: pointer;
}
.cross{
    border: 2px solid grey;
    width:2%;
    position: absolute;
    top:2%;
    left: 2%;
}
.cross:hover,#cross1:hover{
    cursor: pointer;
}
#showshow{
    display: none;
}
#cross1{
    border: 0px solid grey;
    width:2%;
    position: absolute;
  top:2%;
  left: 2%;
}
.continuepart2{
    width:40%;
    background-color:rgb(0,113,227);
    height: 50px;
    border-radius: 10px;
    color: white;
}
.img1{
    width:10%;
    margin-bottom: 0px;
    border: 0px solid black;
}
.img2{
    margin-bottom: -15px;
    
}
.allfields1{
    border:0px solid red;
    width: 80%;
    height:80%;
    display: grid;
    justify-items: center;
    margin-top: 70px;
    margin-left: 90px;
    /* margin: auto; */
}
.level2p{
    margin-top: 0px;
    font-size:15px;
    width:70%;
    text-align: center;
    color: grey;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 600;
}
h2{
    margin-top:-15px  ;
    margin-bottom:0px  ;border: 0px solid black;
}
.divlastupper{
    margin: auto;
    border:0px solid red;
    width:90%;
   display: flex; 
justify-content:space-between;
}
.imgpart3cross,.imgpart3apple{
width:3%;
border:0px solid black;
cursor: pointer;
}
.formdiv{
    margin: auto;
    border:0px solid red;
    width:70%;
    margin-top: -10px;
}
#name,#email,#username,#password,#mobile,#description{
    border: 1px solid #d2d2d7;
    margin: auto;
    width:90%;
    height:40px;
    margin: 0px 5%;
    margin-bottom: 15px;
    border-radius: 10px ;
    font-size: 17px;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}
::placeholder{
    color: grey;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 350;
    font-size: larger;
    padding: 30px;
}
#checkbox{
    margin-left: 5%;
    width: 20px;
    height: 20px;
}
.label{
    margin-left: 20px;
    font-size: larger;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 600;
}
.lastline{
    margin: auto;
    margin-top: 20px;
     width:70%;
     font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
     font-size: smaller;
}
.lastbuttondiv{
    margin: auto;
    margin-top: 10px;
    width: 80%;
    border: 0px solid pink;
    padding: 10px;
    display: grid;
    justify-content: flex-end;
    align-items: flex-end; 
}
button{
    border: none;
}
.lastbutton{
    padding: 10px;
    color: white;
    background-color: rgb(0,113,227);
    border-radius: 7px;
    cursor: pointer;
    border:none;
}
.nowcansignin{
    margin: auto;
    margin-top: 10%;
    margin-left: 40%;
    text-align: center;
    padding: 6px;
    color: white;
    background-color: rgb(0,113,227);
    border-radius: 7px;
    cursor: pointer;
    border:none;
}
/* //old css */
#ad{
    font-size: 50px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
}
#ad1div>a>img{
    width: 90px;
    height: 45px;
    margin-left: 30px;
}

#ad1div{
    display: flex;
    justify-content: space-between;
}
#ad1div>button{
    background-color: #007AFF;
    color: rgb(245, 237, 237);
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    font-size: 13px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 15px;
    width: auto;
    padding-top: 14px;
}
#ad1div>button>img{
    width: 20%;
    padding-bottom: 5px;
    padding-top: 8px;
    padding-left: 0px;
    padding-right: 3px;
}